.titulo{
    text-align: center;
    font-weight: bold;
    font-family: cambria;
    font-size: 30px;
}

.texto{
    font-family: cambria;
    font-size: 20px;
}

.logo{
    text-align: center;
}

.subtitulo{
    text-align: left;
    font-weight: bold;
    font-family: cambria;
    font-size: 25px;
}

.opciones{
    font-family: cambria;
    font-size: 20px;
}

body{
    background-image: url(../img/fondo.jpg);
}

div img{
    max-width: 20%;
}